<p> <%= link_to "Обратно в Каталог продуктов", "/products" %></p>

<h2> Ваша Корзина </h2>

<center>
  <table border="1" width="700">
    <tr>
      <center>
        <% @cart.each do |c| %>

          <td align="center"> <img src= <%= Product.find_by(id: c.product_id).picture %> width="100" > </td>

          <td align="center"> <%= Product.find_by(id: c.product_id).name %> </td>
          <td align="center"> <%= c.price %> </td>
          <td align="center"> <%= c.amount %> </td>

        <% end %>
      </center>
    </tr>
  </table>
</center>


