<p> <%= link_to "Обратно в Каталог продуктов", "/products" %></p>

<p> <%= link_to "Корзина", "/cart" %></p>

<h1>Карточка продукта <% @product %></h1>

<p align="center">  <%= image_tag(@product.picture, :align=> "middle", width: 300 ) %> </p>

<p align="center"> <%= @product.name  %> </p>
<p align="center"> ₽ <%= @product.price %> </p>

<p> </p>

<center>  <%= button_to 'В корзину', "/add/#{@product.id}" ,  method: :post %> </center>

<center> <h3> Описание: </h3></center>

<p align="center"> <%= @product.info  %> </p>


