<p> <%= link_to "Обратно в Каталог продуктов", "/products" %></p>

<p> <%= link_to "Корзина", "/cart" %></p>

<style>
    #left {
        margin-left: 10%;
        float: left;
        width: 700px;
        background: #fff;
    }
    #content {
        margin-left: 20px;
        overflow: hidden;
        background: #eee;
    }
  a{
      border: 1px solid black;
  }
</style>

<h1 align="center">Карточка продукта <% @product %></h1>



  <p id="left">  <%= image_tag(@product.picture, width: 500, align: "middle") %>  </p>
  <p id="content">
    <p>   <%= @product.name  %>   </p>
    <p> ₽ <%= @product.price %> </p>

    <p> </p>

    <%= button_to 'В корзину', "/add/#{@product.id}" ,  method: :post %>
    <p> </p>

    <h3> Описание: </h3>

    <p> <%= @product.info  %> </p>
  <p/>










