<h1>Карточка продукта <% @product %></h1>

<%= image_tag(@product.picture, width: 200) %>

<p> <%= @product.name  %> </p>
<p> <%= @product.price %> </p>
<p> <%= @product.info  %> </p>

<p> <%= link_to "Обратно в Каталог продуктов", "/products" %></p>
